<%- include header %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div id="content"></div>
<script type="text/babel" src="/components/SearchBox.js"></script>
<!-- <script type="text/babel">
  ReactDOM.render(
    <h1>Hello, world!</h1>,
    document.getElementById('example')
  );
</script> -->
<%- include footer %>
  
